
<div class="wrapper"> 
  <header class="site-header">

  </header>

  <main>
    <div class="home-page">
      <div class="block">
        <h1>I'm Surrendra Jadhav</h1>
        <p class="intro">
            Meet Professor Surendra Jadhav, an experienced Assistant Professor of Economics at Chetana’s H.S. College of Commerce & Economics, Smt. Kusumtai Chaudhari College of Arts, Mumbai. With a PhD in Economics from the University of Mumbai, he is a dedicated educator and researcher with a strong passion for facilitating effective learning. Explore the website to learn more about his work and accomplishments.
        </p>
        <p>I also send a well-received email newsletter.</p>
        <a href="assets/Images/SJ_Resume.pdf" class="button">Subscribe here</a>
      </div>
      <div class="block">
        <img src="https://static.vecteezy.com/system/resources/previews/005/387/666/original/professor-teaching-in-the-classroom-free-vector.jpg" alt="An illustration of me in profile">
      </div>
    </div>
  </main>

 
</div>



