<!-- <div class="about-cont">

    

<h2> ABOUT ME <br> </h2>
<p>
    Coordinator, Internal Quality Assurance Cell (IQAC), a statutory appointment that looks after the overall (Including Teaching and Research) development of institution. I was appointed as coordinator of IQAC in year 2013-14 to 2020-21. Responsibilities discharged during this tenured are given below:  <br>
    	‘Academic Audit’ of the Institution (2016) by University of Mumbai. <br>
    	National Accreditation of the Institution (2017) by National Assessment and Accreditation Council (NAAC), Bangaluru, India. <br>
    	Initiatives for ‘Academic & Administrative Autonomy’ of the Institution. <br> 
    Instrumental in switching education from face – to – face to online mode of learning during the Covid – 19 pandemic. 
    <br>
</p>


 
  <h2>  Subject Taught: </h2>
     <p>

<br>        ⦁	Foundation Course-I: Socio-economic problem of India <br>
    ⦁	Foundation Course-II: Human rights, science and ecological studies<br>
    ⦁	Business Economics-I: Micro/Managerial economics<br>
    ⦁	Business Economics-II: Macroeconomics <br>
    ⦁	Business Economics-III: Problem and issues in Indian economy<br>
    
    Area of Interest:<br> Caste, Class and Gender, Informal Sector Labour.  <br>
    Language Known: English, Hindi, Marathi. <br>
    
</p>

</div> -->

<div class="container">

    <div class="LS">

        <div class="LS-top">
            <h1>
                ABOUT MYSELF
            </h1>
            <p>
                As a professor, I believe in creating a stimulating learning environment that challenges students to think critically, analyze problems, and apply concepts to real-world scenarios. I utilize a range of teaching strategies and methods, including lectures, discussions, group work, and practical applications, to ensure that students receive a comprehensive understanding of the course material.
                
                <br>

                My research is an integral part of my teaching, and I strive to integrate my findings into my courses to provide students with the latest knowledge and insights in the field. I have published several articles in peer-reviewed academic journals and presented my research at various conferences, and I continue to engage in scholarly activities to stay up-to-date with the latest developments in my field.

                <br>
                In addition to teaching and research, I am committed to serving my community and engaging in professional development opportunities that enhance my skills and knowledge as a professor. I am passionate about helping students achieve their academic and career goals and am dedicated to supporting their personal and professional growth.
                <br>

                I am excited to meet all of my students and work with them to achieve their academic aspirations.
                <br>





            </p>
        </div>
        <div class="LS-down">

            <div class="card-1">
                <h1>20+</h1>
                <h2> Experinece </h2>
            </div>

            <div class="card-1">
                <h1>10+</h1>
                <h2> Research Paper <br>
                    Published </h2>
            </div>

            <div class="card-1">
                <h1>15+</h1>
                <h2> Newspaper<br> aticles</h2>
            </div>

        </div>

    </div>


    <div class="RS">
     
           
<div class="container-skills">
    <div class="html">
    <p class="bar-title">
        Subject Taught
        <span class="percent align-right">(5)</span>
    </p>
    <div class="bar">
        <div class="bar-fill bar-fill-html start"></div>
    </div>
    </div>
    <div class="javascript">
        <p class="bar-title">
            Chapters
            <span class="percent align-right">(6)</span>
        </p>
        <div class="bar">
            <div class="bar-fill bar-fill-javascript start"></div>
        </div>
    </div>
    <div class="jquery">
        <p class="bar-title">
            Skilss
            <span class="percent align-right">(9)</span>
        </p>
        <div class="bar">
            <div class="bar-fill bar-fill-jquery start"></div>
        </div>
    </div>
    <div class="responsive-design">
        <p class="bar-title">
            Youtube videos
            <span class="percent align-right">(3)</span>
        </p>
        <div class="bar">
            <div class="bar-fill bar-fill-responsive start"></div>
        </div>
    </div>
    <div class="photoshop">
        <p class="bar-title">
            Scholarships
            <span class="percent align-right">(5)</span>
        </p>
        <div class="bar">
        <div class="bar-fill bar-fill-photoshop start"></div>
        </div>
    </div>
</div>
        </div>
   


</div>


<div>
    <app-footer>
    </app-footer>
</div>