/* .about-cont {

padding-left: 2ch;

font-family: 'Oswald', sans-serif;
} */

.about-cont p,h2 {

    animation: 4s anim-lineUp ease-out ;
}
/* @keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}



.about-cont{
  padding: 4ch;
} */


.LS-down{
  display: flex;
}

.wrapper{
  border: 1px solid red;
  /* height: 30px; */
  height:auto;
}
.fill{
  height: 20px;
  border: 1px solid blue;
  margin: 25px 50px;
background-color: yellow;
  border-radius: 50px;
}

