<!-- <div class="wrapper">
    <div class="nav">
        <h2>Dashboard</h2>
        <div  class="body">
            <a href="Hello">
                <button>
                    view changes
                </button>
            </a>
            <a href="addChanges">
                <button>
                    Add Pages
                </button>
            </a>
          
    </div>
    
    </div>
</div> -->


<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Welcome To Dashboard</a>
  
    </div>
  </nav>


  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="Hello">Education</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Scholarships</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Reaserch</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Publication</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Reaserch</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Live TV</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">News Paper</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>