
<h2>
  anna ek number chi bewdi
</h2>

<div class="dashboard-cards">
    <div class="row row-cols-1 row-cols-md-2 g-4">


        <div class="col" *ngFor="let iteam of testdashboard">
          <div class="card">
          

            <div class="card-body">
              <h5 class="card-title">{{iteam.Title}}</h5>

              <p class="card-text">
                <b>
                    Organisation:
                </b>
                {{iteam.Organisation}}
              </p>

              <p class="card-text">
                <b>
                    Year:
                </b>
                {{iteam.Year}}
              </p>

              <p class="card-text">
                <b>
                    Status:
                </b>
                {{iteam.Status}}
              </p>
              <p class="card-text">
                <b>
                    ID:
                </b>
                {{iteam._id}}
              </p>

            </div>
          </div>
        </div>
        
      </div>
</div>
