<mat-card>
    <mat-card-content>

        <mat-card-header>
            <h2>
                Welcome to User Registration
            </h2>
        </mat-card-header>


        <form class="example-form" [formGroup]="registerform"
         (ngSubmit)="proceedRegsitration()">
            <mat-form-field class="example-full-width">
              <mat-label>User Name</mat-label>
              <input matInput formControlName="username">
            </mat-form-field>
          
            <mat-form-field class="example-full-width">
              <mat-label>Name</mat-label>
              <input matInput formControlName="Name">
            </mat-form-field>
          
            <mat-form-field class="example-full-width">
              <mat-label>Password</mat-label>
              <input type="Password" matInput formControlName="Password">
            </mat-form-field>
          
            <mat-form-field class="example-full-width">
              <mat-label>Email</mat-label>
              <input matInput formControlName="Email">
            </mat-form-field>
          
           <div>
            <mat-radio-group matInput formControlName="gender" aria-label="Please Specify Gender">
                <mat-radio-button value="Female">Female</mat-radio-button>
                <mat-radio-button value="Male">Male</mat-radio-button>
                <mat-radio-button value="Other">Other</mat-radio-button>
              </mat-radio-group>
           </div>

           <div>
            <button type="submit" mat-raised-button color="primary">
                Submit
            </button>
            <button mat-raised-button color="primary">
                Primary
            </button>
           </div>
            
          </form>
          
    </mat-card-content>
  </mat-card>
  